TroyLeeMVCEF/Service References/BookingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Doctors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numofrecords" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoctorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoctorsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AvailableDatesByDoctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AvailableDatesByDoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AvailableDatesByDoctorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AvailableHoursByDoctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="datetime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AvailableHoursByDoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AvailableHoursByDoctorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoctorsSoapIn">
    <wsdl:part name="parameters" element="tns:Doctors" />
  </wsdl:message>
  <wsdl:message name="DoctorsSoapOut">
    <wsdl:part name="parameters" element="tns:DoctorsResponse" />
  </wsdl:message>
  <wsdl:message name="BookingSoapIn">
    <wsdl:part name="parameters" element="tns:Booking" />
  </wsdl:message>
  <wsdl:message name="BookingSoapOut">
    <wsdl:part name="parameters" element="tns:BookingResponse" />
  </wsdl:message>
  <wsdl:message name="AvailableDatesByDoctorSoapIn">
    <wsdl:part name="parameters" element="tns:AvailableDatesByDoctor" />
  </wsdl:message>
  <wsdl:message name="AvailableDatesByDoctorSoapOut">
    <wsdl:part name="parameters" element="tns:AvailableDatesByDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="AvailableHoursByDoctorSoapIn">
    <wsdl:part name="parameters" element="tns:AvailableHoursByDoctor" />
  </wsdl:message>
  <wsdl:message name="AvailableHoursByDoctorSoapOut">
    <wsdl:part name="parameters" element="tns:AvailableHoursByDoctorResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Doctors">
      <wsdl:input message="tns:DoctorsSoapIn" />
      <wsdl:output message="tns:DoctorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <wsdl:input message="tns:BookingSoapIn" />
      <wsdl:output message="tns:BookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AvailableDatesByDoctor">
      <wsdl:input message="tns:AvailableDatesByDoctorSoapIn" />
      <wsdl:output message="tns:AvailableDatesByDoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AvailableHoursByDoctor">
      <wsdl:input message="tns:AvailableHoursByDoctorSoapIn" />
      <wsdl:output message="tns:AvailableHoursByDoctorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Doctors">
      <soap:operation soapAction="http://tempuri.org/Doctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <soap:operation soapAction="http://tempuri.org/Booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableDatesByDoctor">
      <soap:operation soapAction="http://tempuri.org/AvailableDatesByDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableHoursByDoctor">
      <soap:operation soapAction="http://tempuri.org/AvailableHoursByDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Doctors">
      <soap12:operation soapAction="http://tempuri.org/Doctors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <soap12:operation soapAction="http://tempuri.org/Booking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableDatesByDoctor">
      <soap12:operation soapAction="http://tempuri.org/AvailableDatesByDoctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableHoursByDoctor">
      <soap12:operation soapAction="http://tempuri.org/AvailableHoursByDoctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://113.161.145.43/web/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://113.161.145.43/web/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>